#Article {
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 10px;
}

#crimson {
    color:crimson
}

.article {
    background-color: white;
    padding: 15px;
    font-size: 20px;
    font-family: 'Merriweather Sans', serif;
}
.author {
    margin-bottom:15px;
    color:crimson
}
.comment {
    margin-top: 10px
}

.comments-container {
    margin-top: 10px
}

.article-body {
    margin-left: 80px;
    margin-right:80px;
    margin-bottom:80px;
    font-family: 'Merriweather', serif;
}

.article-title {
    text-align: center;
    margin-top: 80px;
}

.article-author {
    text-align: center;
    margin-top:25px;
    margin-bottom: 50px;
    font-family: 'Merriweather', serif;

}

@media screen and (max-width: 768px) {
    #Article {
        margin-left: 0px;
        margin-right:0px
    }
    .article {
        font-size: 20px;
        width:100%
    }
}

@media screen and (min-width:1000px) {
    #Article {
        margin-left: 75px;
        margin-right: 75px;
        margin-top: 50px;
    }
}

@media screen and (max-width:450px) {
    .article-body {
    margin-left: 40px;
    margin-right:40px;
    margin-bottom:40px
}
}