.article-container {
    background-color: white;
    margin-bottom:20px;
    padding: 15px;
    box-shadow:10px;
    margin-top: 20px

}

.article-title {
    color: crimson;
    font-size:30px;
    font-weight:bold;
    font-family: 'Merriweather Sans', serif;
}

.article-title:visited {
    color: black;
    font-weight: bold;
    font-family: 'Merriweather Sans', serif;
}
.user-name {
    color:black;
    font-family: 'Merriweather', serif;
}

.user-name:visited {
    color:crimson;
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: 768px) {
    .article-title {
        font-size: 20px
    }
}

.button {
    color: white;
    background-color: black;
}

.vote-up {
 position:relative;
 margin:0;
 left: 30%;
 bottom: 70%
}
.vote-down {
 position:relative;
 margin:0;
 left: 30%;
 top: 70%
}

.vote-tally {
    position: center
}
