.comment-form {
    background-color:white;
    padding-bottom: 10px;
    margin-bottom: 30px
}

.form {
    padding:15px
}

#post-button {
    margin-top: 15px;
    color:white;
    background-color: black;
    position: absolute;
    right: 30px;
    bottom: 20px;
    
}