.header {
    background-color: black;
    border-width:30px;
    margin-left: 75px;
    margin-right:75px;
    margin-top:50px;
    margin-bottom:50px;
    position:relative
}

@media screen and (max-width:1000px) {
    .header {
      margin-left: 0px;
      margin-right:0px;
      margin-top:0px;
      margin-bottom:10px
    }
}