.menu {
    background-color: crimson;
    text-align: left;
    vertical-align: middle;
    line-height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
    padding-left: 20px;
    margin-top: 10px
}

.menu-top {
    margin-top: 10px
}

.menu-text {
    color:white;
    font-size:medium;
}

.football {
    background-color: white;
    color:crimson;
    text-align: left;
    vertical-align: bottom;
    line-height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
    padding-left: 4px
}

.coding {
    background-color:white;
    color:crimson;
    text-align: left;
    vertical-align: bottom;
    line-height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
    padding-left: 4px
}

.cooking {
   background-color: black;
    color: crimson;
    text-align: left;
    vertical-align: bottom;
    line-height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
    padding-left: 4px
}