.nav-button {
    color: crimson;
    font-family:helvetica;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.nav-container {
    background-color: white;
    padding-left: 75px
}

.nav-bar {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    height: 100px
}

.menu-position {
    margin: auto;
    width: 70%;
    padding: 10px;
    color:crimson
}

#logo {
    height: 90%;
    width: auto;
    float: left;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.logo-mobile {
    font-family: garamond;
    font-weight: bold;
    float: left;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
    .nav-bar {
        background-color: white;
        margin-left: 0px;
        height: 70px
    }
    ;
    .nav-container {
        height: 70px
    }
    ;
    
}

@media screen and (max-width: 768px) {
    #logo {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-button {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
}

@media screen and (min-width:601px) {
    .modal {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
}

@media screen and (max-width:1000px) {
    .nav-container {
        height: 80px
    }
    .nav-bar {
        margin-left: 0px;
        height: 80px
    }
}