#font-color:hover {
    color:crimson
}

#font-color {
    color: black
}

#font-color-ham:hover {
    color:crimson
}

#font-color-ham {
    color: black
}

#logo {
    font-family: 'Merriweather', sans-serif;
    font-size: 150%;
    font-weight:bold;
    color: black;
    margin-right:10px
}

#hamburger {
    position: absolute;
    right:0;
}

@media screen and (min-width:1000px) {
    #navcontainer {
        margin-left: 75px;
        margin-right: 75px;
        margin-top: 5px;
    }
}